$default-text-shadow-color: #000;
$default-text-shadow-blur: 5px;
$default-text-shadow-v-offset: 1px;

%image-replacement {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

@function multiplica-pela-fonte ($multiplicador) {
    @return round($multiplicador * $tamanho-da-fonte-padrao);
}

@import "compass/css3";
@import "compass/utilities";