/* BLOG */
.blog {
    display: block;
    position: relative;

    &::after {
        content: "";
        background: url(https://www.flaticon.com/svg/static/icons/svg/2845/2845222.svg);
        background-size: 30px 30px;
        opacity: .15;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -1;
    }

    .container {
        background: $cor-background;
        padding: 1em;
        @include border-radius(10px);
    }
}

.post-destaque,
.posts-antigos {
    width: 48%;
    display: inline-block;
    vertical-align: top;
    @media #{$mq-mobile} {
        width: auto;
    }
}

.post-destaque {
    margin-right: 2em;
}

.post-destaque img {
    width: 100%;
}

.posts-antigos a {
    text-decoration: none;
    color: black;
    background: url(https://www.flaticon.com/svg/static/icons/svg/2972/2972562.svg) left center no-repeat;
    background-size: 25px 25px;
    padding-left: 2.5em;
    height: 1.7em;
    display: block;

    &:hover {
        text-decoration: underline;
    }
}